<div class="popup-container">

  <div mat-dialog-title class="d-flex justify-content-between">
    <span class="times" (click)="onCancelClick($event)">&times;</span>
    <h2>Ajouter un employé</h2>
  </div>
<div class="add-form">
  <form (ngSubmit)="onSubmit()">
    <div mat-dialog-content>

      <div class="form-group-control">
        <input class="form-control" type="file" (change)="onImageUpload($event)" accept="image/*">
        <img *ngIf="imageUrl" [src]="imageUrl" width="100" height="100">
      </div>

      <div class="form-group-control">
        <input  class="form-control" type="text" [(ngModel)]="firstName" name="firstName" placeholder="Nom">
      </div>

      <div class="form-group-control">
        <input class="form-control" type="text" [(ngModel)]="lastName" name="lastName" placeholder="Prénom">
      </div>

      <div class="form-group-control">
        <input class="form-control" type="text" [(ngModel)]="email" name="email" placeholder="Email">
      </div>

      <div class="form-group-control">
        <input class="form-control" type="text" [(ngModel)]="contactNumber" name="contactNumber" placeholder="Téléphone">
      </div>

      <div class="form-group-control">
        <input class="form-control" type="number" [(ngModel)]="age" name="age" placeholder="Age">
      </div>

      <div class="form-group-control">
        <input class="form-control" type="date" [(ngModel)]="dob" name="dob" placeholder="Date de naissance">
      </div>

      <div class="form-group-control">
        <input class="form-control" type="number" [(ngModel)]="salary" name="salary" placeholder="Salaire">
      </div>

      <div class="form-group-control">
        <input class="form-control" type="text" [(ngModel)]="address" name="address" placeholder="Addresse">
      </div>

      <button class="add-btn" type="submit">Ajouter</button>
      <button class="cancel-btn " type="button" (click)="onCancel()">Annuler</button>
    </div>
  </form>
  </div>
</div>
