<mat-sidenav-container autosize>

    <mat-sidenav #sideNav [mode]="modeMenu" [fixedInViewport]="true" [opened]="showMenu">

        <div class="sidenav-content">

            <div class="avatar-name">
                <img src="assets/logo.png" width="80px" height="80px">
                <b style="color:white;"> Admin</b>
            </div>

            <hr class="seperator" style="margin-bottom: 30px;">

            <mat-nav-list>
                <!-- employee List -->
                <a mat-list-item class="mat-list-item" style="color:white;" [routerLink]="'/employee-list'"
                    routerLinkActive="link-active">
                    Liste des Employés
                </a>
            </mat-nav-list>

        </div>

    </mat-sidenav>



    <mat-sidenav-content>

        <mat-toolbar>
            <mat-toolbar-row>
                <button class="toggle-menu" (click)="showMenu = !showMenu">
                    <i class="fa fa-solid fa-bars"></i>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="app-body">
            <main class="main">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>